@import "compass_twitter_bootstrap";

body{

	background: pink;
}

.content{
	margin-top: 10px;
}

.hero-unit{
	position: relative;
}

.mem{
	position: absolute;
	top: 20px;
	right: 20px;
}

.thumbnail{
	background: white;
}

.product-head{
	margin-left: 46px;
}
