<!-- <button-bar>
  <inner-button what-to-do='doSomethingCool(arg)'>Test</inner-button>
  <inner-button>Btunt</inner-button>
  <inner-button>Test</inner-button>
</button-bar> -->


<h3 class="product-head">{{productName}}</h3>

<div class="thumbnail span4">

	<img src="images/ironman.jpg" alt="">

	 <div class="caption">  

		<p><button class="btn btn-large btn-primary" buy-fail >Buy Now!</button></p>

		<item-prop prop-name="Size">12</item-prop>

		<!-- <item:prop></item:prop> -->
		<!-- <item_prop></item_prop> -->
		<!-- <item-prop buy:fail></item_prop> -->
		<!-- <item-prop data-buy-fail></item_prop> -->
		<!-- <item-prop x-buy-fail></item_prop> -->
		<!-- <div class="item-prop"></div> -->
		<!-- (remove-this) directive: item-prop -->


	</div>
	
</div>




<!-- 

	1. cool-alert
	2. buy-fail
	3. item-prop

-->